/* Here are all of the variables that are used in the CSS files. */

:root {

    --primary-color: hsl(0, 0%, 0%);
    /* Primary Color */
    --accent-color: hsl(0, 0%, 0%);
    /* Accent Color */
    --light-neutral: hsl(0, 0%, 0%);
    /* Light Neutral */
    --dark-neutral: hsl(0, 0%, 0%);
    /* Dark Neutral */
    --light-text: hsl(0, 0%, 0%);
    /* Light Text */
    --dark-text: hsl(0, 0%, 0%);
    /* Dark Text */
    --light-background: hsl(0, 0%, 0%);
    /* Light Background */
    --dark-background: hsl(0, 0%, 0%);
    /* Dark Background */


    --base-font-size: 100%;
    /* Base Font Size, (Do NOT use Px, use percentage to respect the user's default font-size set in their browser) */
    --heading-font-family: 'Helvetica Neue', sans-serif;
    /* Heading Font Family */
    --body-font-family: 'IBM Plex Serif', serif;
    /* Body Font Family */
}

    @supports (font-size: clamp(1rem, 1vw, 1rem)) {
        :root {
          --extra-small-font-size: clamp(0.6944rem, -0.0616vw + 0.7068rem, 0.6328rem);
              --small-font-size: clamp(0.8333rem, 0.0104vw + 0.8312rem, 0.8438rem);
              --body-font-size: clamp(1rem, 0.125vw + 0.975rem, 1.125rem);
              --header-5-font-size: clamp(1.2rem, 0.3vw + 1.14rem, 1.5rem);
              --header-4-font-size: clamp(1.44rem, 0.5599vw + 1.328rem, 1.9999rem);
              --header-3-font-size: clamp(1.728rem, 0.9385vw + 1.5403rem, 2.6665rem);
              --header-2-font-size: clamp(2.0736rem, 1.4816vw + 1.7773rem, 3.5552rem);
              --header-1-font-size: clamp(2.4883rem, 2.2518vw + 2.038rem, 4.7401rem);
        }
      }
    
      @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
        :root {
          --extra-small-font-size: 0.6944rem;
              --small-font-size: 0.8333rem;
              --body-font-size: 1rem;
              --header-5-font-size: 1.2rem;
              --header-4-font-size: 1.44rem;
              --header-3-font-size: 1.728rem;
              --header-2-font-size: 2.0736rem;
              --header-1-font-size: 2.4883rem;
        }
      }

        @media screen and (min-width: 1920px) {
          :root {
            --extra-small-font-size: 0.6328rem;
                  --small-font-size: 0.8438rem;
                  --body-font-size: 1.125rem;
                  --header-5-font-size: 1.5rem;
                  --header-4-font-size: 1.9999rem;
                  --header-3-font-size: 2.6665rem;
                  --header-2-font-size: 3.5552rem;
                  --header-1-font-size: 4.7401rem;
          }
        }

:root {

    --shadow-color-light: var(--dark-neutral);

    /* Low Elevation Shadow Light Backgrounf */
    --low-elevation-shadow-light-bg:
        box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.16),
        box-shadow: 0.4px 0.8px 0.9px -1.6px hsl(var(--shadow-color) / 0.13),
        box-shadow: 1.1px 2.2px 2.5px -3.3px hsl(var(--shadow-color) / 0.11);

    /* Medium Elevation Shadow Light Background */
    --medium-elevation-shadow-light-bg:
        box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.17),
        box-shadow: 0.7px 1.5px 1.7px -1.1px hsl(var(--shadow-color) / 0.15),
        box-shadow: 2.1px 4.1px 4.6px -2.2px hsl(var(--shadow-color) / 0.13),
        box-shadow: 5.4px 10.8px 12.1px -3.3px hsl(var(--shadow-color) / 0.11);

    /* High Elevation Shadow Light Background */
    --high-elevation-shadow-light-bg:
        box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.18),
        box-shadow: 1.4px 2.8px 3.1px -0.5px hsl(var(--shadow-color) / 0.16),
        box-shadow: 2.9px 5.9px 6.6px -1.1px hsl(var(--shadow-color) / 0.15),
        box-shadow: 5.7px 11.4px 12.8px -1.6px hsl(var(--shadow-color) / 0.14),
        box-shadow: 10.4px 20.8px 23.4px -2.2px hsl(var(--shadow-color) / 0.13),
        box-shadow: 17.9px 35.8px 40.2px -2.8px hsl(var(--shadow-color) / 0.12),
        box-shadow: 29px 58px 65.2px -3.3px hsl(var(--shadow-color) / 0.1);



    --shadow-color-dark: var(--dark-neutral);

    /* Low Elevation Shadow Dark Background */
    --low-elevation-shadow-dark-bg:
        box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.16),
        box-shadow: 0.4px 0.8px 0.9px -1.6px hsl(var(--shadow-color) / 0.13),
        box-shadow: 1.1px 2.2px 2.5px -3.3px hsl(var(--shadow-color) / 0.11);

    /* Medium Elevation Shadow Dark Background */
    --medium-elevation-shadow-dark-bg:
        box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.17),
        box-shadow: 0.7px 1.5px 1.7px -1.1px hsl(var(--shadow-color) / 0.15),
        box-shadow: 2.1px 4.1px 4.6px -2.2px hsl(var(--shadow-color) / 0.13),
        box-shadow: 5.4px 10.8px 12.1px -3.3px hsl(var(--shadow-color) / 0.11);

    /* High Elevation Shadow Dark Background */
    --high-elevation-shadow-dark-bg:
        box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.18),
        box-shadow: 1.4px 2.8px 3.1px -0.5px hsl(var(--shadow-color) / 0.16),
        box-shadow: 2.9px 5.9px 6.6px -1.1px hsl(var(--shadow-color) / 0.15),
        box-shadow: 5.7px 11.4px 12.8px -1.6px hsl(var(--shadow-color) / 0.14),
        box-shadow: 10.4px 20.8px 23.4px -2.2px hsl(var(--shadow-color) / 0.13),
        box-shadow: 17.9px 35.8px 40.2px -2.8px hsl(var(--shadow-color) / 0.12),
        box-shadow: 29px 58px 65.2px -3.3px hsl(var(--shadow-color) / 0.1);




    --scale-up: transform: scale(1.1);
    --scale-down: transform: scale(0.9);
    --slide-entrance-bottom: animation: slide-entrance-bottom 1s ease-in 0.1s 1 normal forwards;
    --slide-exit-top: animation: slide-exit-top 1s ease-in 0.1s 1 normal backwards;

    --spacing-4px: 4px;
    --spacing-8px: 8px;
    --spacing-12px: 12px;
    --spacing-16px: 16px;
    --spacing-24px: 24px;
    --spacing-32px: 32px;
    --spacing-48px: 48px;
    --spacing-64px: 64px;
    --spacing-96px: 96px;
    --spacing-128px: 128px;
    --spacing-192px: 192px;
    --spacing-256px: 256px;
    --spacing-384px: 384px;
    --spacing-512px: 512px;
    --spacing-768px: 768px;


}
